body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chess {
  border: 5px solid black;
  height: 640px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.chess div{
    text-align: center;
    width: 10%;
    height: 80px;
   font-size: 50px;
    width:calc(100%/8);
}
.whiter{
    background-color: white;
}
.blacker{
    background-color: gray;
}
